@page "/news"
@using MarketWatch.Shared.Dtos
@inherits BlogPostsBase

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6">
            @if (IsCompanyChosen)
            {
                <h3>Latest News about @TickerName</h3>
                {
                    var newsCount = News.Count();
                    if (newsCount > 0)
                    {
                        <ul class="timeline">
                            @foreach (var news in News)
                            {
                                <li>
                                    <a href="@news.Publisher.HomePageUrl">@news.Publisher.Name</a>
                                    <p class="float-right">@news.PublishedDate.ToString()</p>
                                    <br>
                                    <a class="float-" href="@news.ArticleUrl">@news.ArticleTitle</a>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <h3>No news were found</h3>
                    }
                }
            }
        </div>
    </div>
</div>