@inherits BlogPostsBase

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6">
            @if (IsCompanyChosen && Data.News != null)
            {
                <h3>Latest News</h3>
                {
                    if (Data.News.Any())
                    {
                        <ul class="timeline">
                            @foreach (var news in Data.News)
                            {
                                <li>
                                    <a href="@news.Publisher.HomePageUrl">@news.Publisher.Name</a>
                                    <p class="float-right">@news.PublishedDate.ToString()</p>
                                    <br>
                                    <a class="float-" href="@news.ArticleUrl">@news.ArticleTitle</a>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <h3>No news were found</h3>
                    }
                }
            }
        </div>
    </div>
</div>