@inherits MarketWatch.Client.Pages.Dashboard.DashboardSearchBase

<div class="container">
    <h3>Dashboard</h3>
    <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-2">
        <div class="input-group flex-container searchbar">
            <div class="search">
                <SfDropDownList TItem="CompanyDto" TValue="string" Placeholder="Select a company" DataSource="@Companies" AllowFiltering="true" class="form-control border-0 bg-light searchbar">
                    <DropDownListTemplates TItem="CompanyDto">
                        <ItemTemplate>
                            <span class="drop">
                                <span>@(context.Ticker)</span>
                                <span class="name">@(context.Name)</span>
                                <span>@(context.Equity)</span>
                            </span>
                        </ItemTemplate>
                        <NoRecordsTemplate>
                            <span class="norecord">Start to write company's name</span>
                        </NoRecordsTemplate>
                    </DropDownListTemplates>
                    <DropDownListEvents TItem="CompanyDto" TValue="string" OnValueSelect="@OnValueSelectHandler" Filtering="@OnFilter"></DropDownListEvents>
                    <DropDownListFieldSettings Text="Name" Value="Ticker"></DropDownListFieldSettings>
                </SfDropDownList>
            </div>
            <div>
                <button type="submit" class="btn text-primary f-lft" @onclick="OnAddClick">
                    <span class="e-icons e-plus" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>


<style>
    .name {
    position: absolute;
    padding-left: 70px;
    }
    
    .drop {
        display: flex;
        justify-content: space-between;
    }
    
    .searchbar
    {
        position: relative;
        padding-top: 5px;
        padding-left: 15px;
    }
    
    .search
    {
        flex-grow: 8;
    }
</style>