@page "/dashboard"
@inherits DashboardBase
@attribute [Authorize]
@if (AuthState != null)
{
    <p>
        Name: @AuthState.User.Identity.Name 
    </p>
}
<div>
    <div>
        <DashboardSearch
            InputString="@InputString" Ticker="@Ticker" Companies="@Companies" 
            CompanyChosen="@CompanyChosenHandler" TextChanged="@TextChanged" CompanyAdd="CompanyAdd">
        </DashboardSearch>
    </div>

    <div>
        <CompanyDetails Company="@Data.Company"></CompanyDetails>
    </div>

    <div>
        <StockChart Data="@Data" IsCompanyChosen="@IsCompanyChosen"></StockChart>
    </div>

    <div>
        <PriceDetails Stocks="@Data.Stocks" IsCompanyChosen="@IsCompanyChosen"></PriceDetails>
    </div>

    <div>
        <BlogPosts Data="@Data" IsCompanyChosen="@IsCompanyChosen"></BlogPosts>
    </div>
</div>
<SfSpinner @bind-Visible="SpinnerVisible" Label="Loading Data..." Size="70" Type="@SpinnerType.Bootstrap"></SfSpinner>
