@using MarketWatch.Client.Pages.Watchlist
@using ExportType = Syncfusion.Blazor.Charts.ExportType
@inherits StockChartBase;



<div class="container">
    @if (IsCompanyChosen)
    {
        <SfSpinner @bind-Visible="SpinnerVisible" Label="Stock Chart..." Size="50" Type="@SpinnerType.Bootstrap"></SfSpinner>
        <h3>Stonks: @TickerName</h3>

        <SfStockChart @ref="StockChart" Title="@TickerName" EnableSelector="false" EnableCustomRange="false" ExportType="new List<ExportType>() {}">
            <StockChartSeriesCollection>
                <StockChartSeries
                    DataSource="@Stocks"
                    Type="ChartSeriesType.HiloOpenClose"
                    XName="Date"
                    High="High"
                    Low="Low"
                    Open="Open"
                    Close="Close"
                    Volume="Volume"
                    Name="@TickerName">
                </StockChartSeries>
            </StockChartSeriesCollection>
        </SfStockChart>
        if (Stocks.Any())
        {
            Vis = true;
        }
        else
        {
            <h3>No data about company's stocks found</h3>
        }
    }
</div>